<section id="about" class="about">
  <div class="container about-grid">
    <div class="about-text">
      <h2>Tu puerta de entrada a juegos sin fin</h2>
      <p>
        En KATH.cl, creemos que cada juego une a las personas. Nuestra cuidada selección de juegos de mesa abarca cuatro emocionantes categorías: Estrategia, Familiar, Cartas y Fiesta. ¡Que empiece la diversión!
      </p>
    </div>
    <div class="about-img">
      <img src="assets/img/acerca.jpg" alt="Acerca de Kath.cl">
    </div>
  </div>
</section>
