<header class="fixed-header">
    <nav class="container nav-bar">
      <a routerLink="/" class="brand">KATH.cl</a>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a [routerLink]="['/']" fragment="about">Quiénes somos</a></li>
        <li><a [routerLink]="['/']" fragment="categorias">Categorías</a></li>
        <li><a [routerLink]="['/']" fragment="productos">Juegos</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
        <li><a routerLink="/registro" class="btn">Regístrate</a></li>
      </ul>
    </nav>
</header>

